<div class="sidebar-wrapper">
    <div class="title-group">
                    <span class="title">
                        在线课堂
                    </span>
        <a class="more" href="#">更多</a>
    </div>
    <div class="advertise-group">
        <a href="#">
            <img src="https://static-fancube.xfz.cn/1568625440728/740x400.jpg-website.active.list" alt="">
        </a>
    </div>
    <div class="platform-group">
        <div class="title-group">
            关注小饭桌
        </div>
        <div class="focus-group">
            <ul class="left-group">
                <li class="zhihu">
                    <a href="#" target="_blank">小饭桌创业课堂</a>
                </li>
                <li class="weibo">
                    <a href="#" target="_blank">小饭桌创业课堂</a>
                </li>
                <li class="toutiao">
                    <a href="#" target="_blank">小饭桌</a>
                </li>
            </ul>
            <div class="right-group">
                <p class="desc">
                    欢迎扫码关注
                </p>
            </div>
        </div>
    </div>
    <div class="hot-news-group">
        <div class="title-group">
                        <span class="title">
                            热门推荐
                        </span>
        </div>
        <ul class="hot-list-group">
            <li>
                <div class="left-group">
                    <p class="title">
                        <a href="#">
                            早报：全国新型肺炎确诊17205例；火神山医院工...
                        </a>
                    </p>
                    <p class="more">
                                        <span class="category">
                                            热点
                                        </span>
                        <span class="pub-time">
                                            1小时前
                                        </span>
                    </p>
                </div>
                <div class="right-group">
                    <a href="#">
                        <img src="https://static-image.xfz.cn/1580690341_124.jpg-website.news.list" alt="">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>